<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Registro</h2>
      <hr class="w-50" />

      <form action="/registro" method="post" enctype="multipart/form-data">
        <div class="form-group row w-50 m-auto">
          <div class="form-group col-12 col-sm-6">
            <label>Email</label>
            <input class="form-control m-auto" value="Email" name="email"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input class="form-control m-auto" value="Nombre" name="nombre"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input class="form-control m-auto" value="Password" name="password"  />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input class="form-control m-auto" value="Repita-password" name="repita-Password"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Años de experiencia</label>
            <input class="form-control m-auto" value="7" name="anos_experiencia"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Especialidad</label>
            <input class="form-control m-auto" value="Especialidad" name="especialidad" />
          </div>
          <div class="form-group col-12 col-sm-12">
            <label>Foto de perfil</label>
            <input type="file" name="nameFoto" />
          </div>
        </div>
        <button type="submit" class="btn btn-info mb-3">Registrarme</button>
        <p><a href="#"> Iniciar sesión</a></p>
      </form>
    </div>
  </body>
</html>
